<app-header></app-header>
<input type="text" [(ngModel)]="id" (focusout)="onFilter()" id="id">
<input type="text" [(ngModel)]="code" (focusout)="onFilter()" id="code">
<input type="text" [(ngModel)]="itemSize" (focusout)="onFilter()" id="itemSize">
<input type="text" [(ngModel)]="pack" (focusout)="onFilter()" id="pack">
<input type="text" [(ngModel)]="price" (focusout)="onFilter()" id="price">
<input type="text" [(ngModel)]="description" (focusout)="onFilter()" id="description">
<input type="text" [(ngModel)]="producer" (focusout)="onFilter()" id="producer">
<input type="text" [(ngModel)]="count" (focusout)="onFilter()" id="count">
<button type="button" class="btn" id="report" (click)="generateReport()">Report</button>
<table class="table table-bordered" matSort (matSortChange)="sortData($event)">
  <thead class="table-success">
  <tr>
    <th scope="col" mat-sort-header="id">Id</th>
    <th scope="col" mat-sort-header="item.code">Code</th>
    <th scope="col" mat-sort-header="item.size">Size</th>
    <th scope="col" mat-sort-header="item.pack">Pack</th>
    <th scope="col" mat-sort-header="item.price">Price</th>
    <th scope="col" mat-sort-header="item.description">Description</th>
    <th scope="col" mat-sort-header="item.producer.name">Producer</th>
    <th scope="col" mat-sort-header="count">Count</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let record of records">
    <td>{{ record.id }}</td>
    <td>{{ record.item.code }}</td>
    <td>{{ record.item.size }}</td>
    <td>{{ record.item.pack }}</td>
    <td>{{ record.item.price }}$</td>
    <td>{{ record.item.description }}</td>
    <td>{{ record.item.producer.name}}</td>
    <td>{{ record.count}}</td>
  </tr>
  </tbody>
</table>
<mat-paginator [pageSizeOptions]="[13, 65, 130]"
               (page)="nextPage($event)"
               [length]="totalElements"
               [pageSize]="13">
</mat-paginator>
