table {
    width: 75% !important;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  font-size: larger;
}

td{
    vertical-align: middle
}

th{
    vertical-align: middle;
    background-color: #6CBB3C80;
}

img {
    width: 10px;
    height: 10px;
}

button {
    margin-right: 5px;
}

#add {
    background-color: #6CBB3C;
}

.add {
    text-align: end;
}

.edit-delete {
    text-align: end;
}

#id {
  width: 110px;
  margin-left: 183px;
  margin-top: 40px;
  background-color: whitesmoke;
  border-color: gray;
}


#name {
  width: 175px;
  margin-left: 3px;
  margin-top: 40px;
  background-color: whitesmoke;
  border-color: gray;
}

#country {
  width: 207px;
  margin-left: 3px;
  margin-top: 40px;
  background-color: whitesmoke;
  border-color: gray;
}

#description {
  width: 267px;
  margin-left: 3px;
  margin-top: 40px;
  background-color: whitesmoke;
  border-color: gray;
}
