<app-header></app-header>
<table class="table table-bordered">
  <thead class="table-success">
  <tr>
    <th scope="col">Sell</th>
    <th scope="col">Date</th>
    <th scope="col" class="add"><button type="button" class="btn" id="add" (click)="addSellDialog('0ms', '0ms')">+</button></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let sell of sells">
    <td><a class="link-dark" (click)="viewSellDialog('0ms', '0ms', sell)">Sell #{{ sell.id }}</a></td>
    <td><a class="link-dark" (click)="viewSellDialog('0ms', '0ms', sell)">{{ sell.date }}</a></td>
    <td></td>
  </tr>
  </tbody>
</table>
<mat-paginator [pageSizeOptions]="[13, 65, 130]"
               (page)="nextPage($event)"
               [length]="totalElements"
               [pageSize]="13">
</mat-paginator>
