<app-header></app-header>
<input type="text" [(ngModel)]="code" (focusout)="onFilter()" id="code">
<input type="text" [(ngModel)]="itemSize" (focusout)="onFilter()" id="itemSize">
<input type="text" [(ngModel)]="pack" (focusout)="onFilter()" id="pack">
<input type="text" [(ngModel)]="price" (focusout)="onFilter()" id="price">
<input type="text" [(ngModel)]="description" (focusout)="onFilter()" id="description">
<input type="text" [(ngModel)]="producer" (focusout)="onFilter()" id="producer">
<button type="button" class="btn" id="report" (click)="generateReport()">Report</button>
<table class="table table-bordered" matSort (matSortChange)="sortData($event)">
    <thead class="table-success">
        <tr >
            <th scope="col" mat-sort-header="code">Code</th>
            <th scope="col" mat-sort-header="size">Size</th>
            <th scope="col" mat-sort-header="pack">Pack</th>
            <th scope="col" mat-sort-header="price">Price</th>
            <th scope="col" mat-sort-header="description">Description</th>
            <th scope="col" mat-sort-header="producer.name">Producer</th>
            <th scope="col" *ngIf="isAdmin" class="add">
              <button type="button" class="btn" id="add" (click)="addItemDialog('0ms', '0ms')">+</button>
            </th>
          </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of items">
            <td>{{ item.code }}</td>
            <td>{{ item.size }}</td>
            <td>{{ item.pack }}</td>
            <td>{{ item.price }}$</td>
            <td>{{ item.description }}</td>
            <td>{{ item.producer.name }}</td>
            <td class="edit-delete" *ngIf="isAdmin">
                <button type="button" class="btn btn-warning" (click)="editItemDialog('0ms', '0ms', item.id, item.code, item.size, item.pack, item.price, item.description, item.producer)">Edit</button>
                <button type="button" class="btn btn-danger" (click)="deleteItem(item.id)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>
<mat-paginator [pageSizeOptions]="[9, 45, 90]"
               (page)="nextPage($event)"
               [length]="totalElements"
               [pageSize]="9">
</mat-paginator>
