<app-header></app-header>
<table class="table table-bordered">
  <thead class="table-success">
    <tr >
      <th scope="col">Id</th>
      <th scope="col">Username</th>
      <th scope="col">Roles</th>
      <th scope="col" class="add"><button type="button" class="btn" id="add" (click)="addUserDialog('0ms', '0ms')">+</button></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.id }}</td>
      <td>{{ user.username }}</td>
      <td>{{ user.role }}</td>
      <td class="edit-delete">
        <button type="button" class="btn btn-warning" (click)="editUserDialog('0ms', '0ms', user.username, user.role, user.id)">Edit</button>
        <button type="button" class="btn btn-danger" (click)="deleteUser(user.id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>

