<app-header></app-header>
<input type="text" [(ngModel)]="date" (focusout)="onFilter()" id="date">
<input type="text" [(ngModel)]="user" (focusout)="onFilter()" id="user">
<input type="text" [(ngModel)]="movingType" (focusout)="onFilter()" id="movingType">
<input type="text" [(ngModel)]="code" (focusout)="onFilter()" id="code">
<input type="text" [(ngModel)]="itemSize" (focusout)="onFilter()" id="itemSize">
<input type="text" [(ngModel)]="pack" (focusout)="onFilter()" id="pack">
<input type="text" [(ngModel)]="price" (focusout)="onFilter()" id="price">
<input type="text" [(ngModel)]="description" (focusout)="onFilter()" id="description">
<input type="text" [(ngModel)]="producer" (focusout)="onFilter()" id="producer">
<input type="text" [(ngModel)]="count" (focusout)="onFilter()" id="count">
<button type="button" class="btn" id="report" (click)="generateReport()">Report</button>
<table class="table table-bordered" matSort (matSortChange)="sortData($event)">
  <thead class="table-success">
  <tr >
    <th scope="col" mat-sort-header="date">Date</th>
    <th scope="col" mat-sort-header="user.username">User</th>
    <th scope="col" mat-sort-header="type">Moving type</th>
    <th scope="col" mat-sort-header="item.code">Code</th>
    <th scope="col" mat-sort-header="item.size">Size</th>
    <th scope="col" mat-sort-header="item.pack">Pack</th>
    <th scope="col" mat-sort-header="item.price">Price</th>
    <th scope="col" mat-sort-header="item.description">Description</th>
    <th scope="col" mat-sort-header="item.producer.name">Producer</th>
    <th scope="col" mat-sort-header="count">Count</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let movingRecord of movingRecords">
    <td>{{ movingRecord.date }}</td>
    <td>{{ movingRecord.username }}</td>
    <td>{{ movingRecord.type }}</td>
    <td>{{ movingRecord.item.code }}</td>
    <td>{{ movingRecord.item.size }}</td>
    <td>{{ movingRecord.item.pack }}</td>
    <td>{{ movingRecord.item.price }}$</td>
    <td>{{ movingRecord.item.description }}</td>
    <td>{{ movingRecord.item.producer.name }}</td>
    <td *ngIf="movingRecord.type == 'ARRIVAL'">+{{ movingRecord.count }}</td>
    <td *ngIf="movingRecord.type == 'SELL'">-{{ movingRecord.count }}</td>
  </tr>
  </tbody>
</table>
<mat-paginator [pageSizeOptions]="[13, 65, 130]"
               (page)="nextPage($event)"
               [length]="totalElements"
               [pageSize]="13">
</mat-paginator>
